@font-face {
  font-family: "D2CodingEmbedded";
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/D2Coding.ttf');
}

/* GitHub */

.blob-code-inner {
  font-family: "D2CodingEmbedded" !important;
  font-size: 14px !important;
}

.markdown-body pre, .markdown-body code {
  font-family: "D2CodingEmbedded" !important;
  font-size: 14px !important;
}

/* StackOverflow */

.question-page .post-text code {
  font-family: "D2CodingEmbedded" !important;
  font-size: 14px !important;
}

/* Anywhere using CodeMirror */

.CodeMirror pre.CodeMirror-line {
  font-family: "D2CodingEmbedded" !important;
  font-size: 14px !important;
}

/* Dooray */

.tui-editor-contents pre, .tui-editor-contents pre * {
  font-family: "D2CodingEmbedded" !important;
  font-size: 14px !important;
}
